#timer {
  margin: 20px 0 0;

  #share-link {
    cursor: pointer;
    position: relative;
    display: block;

    strong {
      font-weight: bold;
      font-size: 1.2em;
    }
    i {
      position: absolute;
      top: 4px;
      right: 0;
      font-size: 1.1em;
    }
  }

  input[type="range"] {
    flex: 1 1 0;
    margin: 0 10px;
    width: 25%;
  }
}