@import "theme";

#login {
  header {
    background: url("/images/mob.png") top no-repeat;
    padding-top: 300px;

    h1 {
      font-size: 21vw;
      @media (min-width: $width) {
        font-size: 4.5em;
      }
    }
  }

  .form-field {
    label {
      flex: 1 1;
    }
    input {
      flex: 1 1 6%;
    }
  }
  button[type=submit] {
    width: 100%;
    padding: $padding-space;
    i {
      margin-right: $margin-space;
    }
  }
}