@import "compass";
@import "compass/reset";
@import "theme";

@mixin gradient-background {
  background: $dark-bg-color; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, $light-bg-color, $dark-bg-color); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, $light-bg-color, $dark-bg-color); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

html {
  font-family: 'Oswald', sans-serif;
  font-size: 15pt;
  margin: 0;
}

body {
  color: $color;
}

body * {
  box-sizing: border-box;
}

#container {
  margin: auto;
  max-width: $width;
}

h1 {
  border-top: 2px solid $color;
  border-bottom: 2px solid $color;
  padding: 20px 0;
  font-size: 5.5em;
  text-align: center;
  font-family: 'Fredericka the Great', fantasy;
}



input {
  border: none;
  border-bottom: 1px solid;
  font-weight: bold;
  font-size: 1.1em;
  &:focus {
    outline: none;
  }
}

a, button {
  cursor: pointer;
}

button {
  border-radius: 0;
  border: none;
  background: $dark-button-color;
  color: white;
  padding: 0 20px;
  outline: none;

  &:hover {
    background: $light-button-color;
  }
}

.form-field {
  display: flex;
  align-items: center;
  margin: 20px 0;

  label {
    margin-right: 20px;
  }
}

.toggles {
  display: flex;
  align-items: center;
  flex: 1 1;

  button {
    flex: 1 1;
    padding: 6px;
  }
}

hr {
  margin: 20px 0;
  color: $light-button-color;
}

.active {
  background: #999;
}

@import "header";
@import "tabs/timer";
@import "tabs/mobbers";
@import "tabs/settings";