@import "theme";

$header-padding: 60px;

header {
  section {
    position: relative;
    margin: 0 auto;
    padding: $header-padding 0;

    &::before {
      content: "";
      @include mob-header-background();
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: .2;
      z-index: -1;
    }

    svg#circles {
      margin: auto;
      display: block;
      transform: rotateZ(-90deg);
      background: rgba(255, 255, 255, .7);
      border-radius: 100%;

      circle {
        transition: stroke-dashoffset 1s linear;
      }
    }

    #action {
      &.on {
        .icon {
          display: none;
        }

        #time-left {
          display: block;
        }

        &:hover {
          #time-left {
            display: none;
          }

          .icon {
            display: block;
          }
        }
      }

      .icon {
        display: block;
        margin: auto;
      }

      #time-left {
        display: none;

        span {
          display: block;
        }
      }
    }
  }
}


#share-link {
  cursor: pointer;

  strong {
    font-weight: bold;
    font-size: 1.2em;
  }

  i {
    font-size: 1.1em;
  }
}

h2 {
  text-align: center;

  #share-link {
    position: relative;
    display: inline-block;
    border-radius: 20px 20px 0 0;
    border-bottom: 1px solid;
    padding: 5px 20px;
    margin-top: 20px;

    i {
      vertical-align: middle;
      margin-left: 10px;
    }
  }
}

// ===========================================
// NAV
// ===========================================

nav {
  background: #666;
  display: flex;

  button {
    flex: 1 1;
    display: inline-block;
    text-align: center;
    padding: .5em 0;
    text-shadow: 1px 1px 1px #666;
    border-right: 1px solid $border-color;
    color: white;

    @include icon(2.1em);
    @include iconColor(white);

    &:first-child {
      border-left: 1px solid $border-color;
    }
  }
}