@import "theme";

#modal-container {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(100, 100, 100, .4);

  #modal {
    position: absolute;

    width: 90%;
    @media (min-width: $width) {
      width: $width;
    }
    background: white;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: $padding-space;

    button.no {
      background: $error-color;
    }

    button.yes {
      background: $success-color;
    }
  }
}