$width: 433px;
$light-bg-color: #ffffff;
$dark-bg-color: #c9c9c9;
$dark-button-color: #666;
$light-button-color: #999;
$color: black;
$shadow-shade: 120;
$shadow-color: rgba($shadow-shade, $shadow-shade, $shadow-shade, .4);
$border-shade: 250;
$border-color: rgba($border-shade, $border-shade, $border-shade, .6);
$margin-space: 1em;
$padding-space: .5em;

@mixin icon($size, $icon-color) {
  .icon {
    svg {
      width: $size;
      height: $size;
      * {
        fill: $icon-color;
      }
    }
  }
}