@import "theme";

#toasts {
  position: absolute;
  top: 0;
  right: 10px;
  left: 10px;

  .toast {
    margin: 10px 0 10px auto;
    border-radius: 5px;
    display: flex;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,.6);
    color: white;
    align-items: center;
    width: max-content;
    max-width: 100%;
    padding: 15px;
    @include icon(1.4em, white);

    &.success {
      background: #35c135;
    }
    &.info {
      background: #00a9eb;
    }
    &.error {
      background: #eb0000;
    }

    .level-icon {
      font-size: 1.5em;
    }

    .content {
      padding: 0 15px;
    }
  }
}
