@import "../theme";

#mobbers {

  #add {
    display: flex;
    align-items: end;

    .form-field {
      flex: 1 1;
      width: 50%;
      margin: 0;
      position: relative;

      input {
        width: 100%;
      }
    }

    button {
      flex: 0 0;

      @include icon(1.1em, white);
    }
  }

  .actions {
    display: flex;
    margin: 10px 0;

    button {
      flex: 1 1;
      padding: 8px;
      margin-left: 2px;

      &:first-child {
        margin-left: 0;
      }
    }
  }

  ul {
    li {
      margin: 20px 0;

      p.role {
        font-size: .8em;
        margin-bottom: 5px;
      }

      div {
        display: flex;
        align-items: bottom;
        width: 100%;

        & > i {
          padding-right: 10px;
          flex-shrink: 0;
          flex-grow: 0;
        }

        p.name {
          width: 50%;
          flex-grow: 1;
          flex-shrink: 1;
          font-size: 1.1em;
          text-transform: capitalize;
          font-weight: bold;
          padding-bottom: 5px;
        }

        button {
          flex-shrink: 0;
          border: none;
          background: none;
          font-size: 1em;
          color: #999;
          padding: 0 0 0 20px;

          @include icon(1em, black);

          &:hover {
            color: black;
          }
        }
      }
    }
  }
}