// -------------------------------------------
// SETTINGS
// -------------------------------------------

@use '../theme' as *;

#settings {
    form {
        padding: 20px;
    }

    h2 {
        background: $dark-bg-color;
        border-bottom: 1px solid rgb(100 100 100 / 50%);
        border-top: 1px solid $border-color;

        i {
            border-right: 1px solid $border-color;
            margin-right: 20px;
            padding: 16px 20px;
        }
    }

    label,
    input {
        display: block;
    }

    input {
        width: 100%;
    }
}
