// -------------------------------------------
// SOUND
// -------------------------------------------

@use '../theme' as *;

#test-audio {
    width: 100%;
}

#sounds-field {
    display: block;
}

#sound-cards {
    display: flex;
    flex-flow: row wrap;
    gap: $padding-space;
    justify-content: space-around;
    padding: $margin-space 0;

    button {
        border: 1px solid $light-button-color;
        display: block;
        flex-grow: 1;
        max-width: 300px;
        min-width: 170px;
        padding: 0;
        text-align: center;
        width: 130px;

        p {
            padding: $padding-space;
        }

        img {
            opacity: 0.6;
            width: 100%;
        }

        &.active,
        &:hover {
            img {
                opacity: 1;
            }
        }
    }
}
