#test-audio {
  width: 100%;
}

#sounds-field {
  display: block;

  #sound-cards {
    display: flex;
    align-items: start;
    padding: $margin-space 0;

    button {
      flex: 1 0;
      width: 130px;
      text-align: center;
      padding: 0;
      vertical-align: top;
      display: block;
      margin-left: $margin-space;

      &:first-child {
        margin-left: 0;
      }

      p {
        padding: $padding-space;
      }

      img {
        width: 100%;
        opacity: .6;
      }

      &.active, &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
}
