#test-audio {
  width: 100%;
}

#sounds-field {
  display: block;

  #sound-cards {
    padding: $margin-space 0;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    gap: $padding-space;

    button {
      min-width: 170px;
      max-width: 300px;
      width: 130px;
      text-align: center;
      padding: 0;
      display: block;
      flex-grow: 1;
      border: 1px solid $light-button-color;

      p {
        padding: $padding-space;
      }

      img {
        width: 100%;
        opacity: .6;
      }

      &.active,
      &:hover {
        img {
          opacity: 1;
        }
      }
    }
  }
}